body{
    font-size: 1em;
}

header {
    color: whitesmoke;
    text-align: center;
    background-color: black;
    line-height: 2em;
}

h3 {
    color: purple;
}

p {
    font-family: Verdana;
}

ol {
    font-family:'Trebuchet MS';
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
}

nav {
    background-color: black;
    line-height: 200%;
}

nav li {
    display: inline;
    padding-right: 40px;
}

nav a:link{
    color:yellow;
    text-decoration: none;
}
nav a:visited{
    color:yellow;
}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    color: white;
    text-decoration: underline;
}